.toolbar{
-fx-padding: 10px 5px 10px 5px;
}

.toolbar-item{
    -fx-background-color: white;
}

ToolBar{
    -fx-background-color: white;
    -fx-font-family: 'Segoe UI Light', Arial, sans-serif;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

Button.default{
    -fx-padding: 5px 7px 5px 7px;
    -fx-background-color: #CFCFCF;
}

Button.default:pressed {
    -fx-background-color: #c6c6c6;
    -fx-padding: 6px 7px 4px 7px;
}

Button.primary{
    -fx-background-color: #2c72e8;
    -fx-padding: 5px 7px 5px 7px;
    -fx-text-fill: #ffffff;
}
Button.primary:pressed {
    -fx-background-color: #2560c4;
    -fx-padding: 6px 7px 4px 7px;
}

Button.danger{
    -fx-background-color: #d62a2a;
    -fx-padding: 5px 7px 5px 7px;
    -fx-text-fill: #ffffff;
}
Button.danger:pressed {
    -fx-background-color: #af2323;
    -fx-padding: 6px 7px 4px 7px;
}

Button:disabled, Button:disabled > * {
  -fx-opacity: 0.8;
}

ToolBar JFXButton, TableView {
    -fx-font-family: 'Segoe UI Light', Arial, sans-serif;
    -fx-font-size: 15px;
}

.ListCell {
    -fx-font-size: 16px;
    -fx-font-family: 'Segoe UI Light', Arial, sans-serif;
    -fx-padding: 0px 5px 0px 5px;
}